---
const hola = "Hola mundo";
import EmailForm from "../components/EmailForm.jsx";
// import EmailFormDOS from "../components/EmailFormDOS.jsx";
---

<section
  style="display: flex; flex-direction: column; align-items: center; height: 100vh;"
>
  <h1>{hola}</h1>
  <p>EmailJS + Astro</p>

  <EmailForm client:only />
</section>
